@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

/* 回答はここに書いてね */
.q1 {
  background-color: #eff3f4;
  width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.q1__content {
  background-color: #3274ae;
  width: 230px;
  padding: 20px; 
  margin-left: 20px;
  float: left;
}

.q1__content:first-child {
  margin-left: 0;
}

.q1__content__box {
  border: 10px solid  #022336;
  background-color: #eaf4ff;
  padding: 20px;
}
