@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}
/* 回答はここに書いてね */
.q7--float.is-head .q7__box.is-float {
  float: left;
  margin-left: 50px;
  box-sizing: border-box;
  font-size: 16px;
}

.q7 .q7__box.is-float {
  width: 225px;
}

.q7--float.is-head .q7__box.is-float:first-child {
  margin: 0;
}

.q7--table .is-cell {
  display: table;
  table-layout: fixed;
}

.q7--table.is-cell .q7__box.is-table { 
  display: table-cell;
  vertical-align: middle;
  padding-left: 50px;
  width: 225px;
} 

.q7--table.is-cell .q7__box.is-table:first-child {
  padding-left: 0;
}

.q7__box.is-block {
  display: inline-block;
  width: 225px;
  vertical-align: middle;
  box-sizing: border-box;
  margin-left: 50px;
  font-size: 16px;
}

.q7__box.is-block:first-child {
  margin-left: 0;
}

.q7--inlineblock.is-block .q7__inner.is-block {
  font-size: 0;
}

.q7--flex.is-cell .q7__inner.is-cell {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.q7--flex.is-cell .q7__box.is-cell {
  font-size: 16px;
  box-sizing: border-box;
  vertical-align: middle;
}

.q7__box.is-cell {
  width: 225px;
}


.q7--margin.is-content .q7__box.is-left {
  display: inline-block;
  width: 300px;
}

.q7--margin.is-content .q7__box.is-right {
  display: inline-block;
  box-sizing: border-box;
  margin-left: -300px;
  padding-left: 350px;
  width: 100%;
  vertical-align: top;
}

.q7--margin.is-content .q7__box__text.is-content {
  font-size: 16px;
}

.q7--margin.is-content .q7__inner.is-full.is-content {
  font-size: 0;
}

.q7__inner.is-full.is-content {
  width: 100%;
  box-sizing: border-box;
}