@charset "UTF-8";

/* 回答はここに書いてね */
.q4__parent {
  background-color: #ecf1f2;
  padding: 20px;
}

.q4__content {
  display: table;
  width: 100%;
  margin-top: 20px;
}

.q4__content:first-child {
  margin-top: 0;
}
/* 回答はここに書いてね */
.q4__content__cell {
  display: table-cell;
  text-align: center; 
  padding: 20px;
}

.q4__content__cell.is-pink {
  background-color: #fdc8b8;
  width: 60px;
}

.q4__content__cell.is-purple {
  background-color: #e0abd9;
}

.q4__content__cell.is-blue {
  background-color: #b6d8ed;
  width: 60px;
}


.q4__content__cell.is-yellow {
  background-color: #e5d32e;
}

.q4__content__cell.is-red {
  background-color: #ec8f9a;
}

.q4__content__cell.is-green {
  background-color: #8fdcad;
  width: 460px;
}