@charset "UTF-8";

/* 回答はここに書いてね */
.q9__balloon {
  position: relative;
  background-color: #fff;
  padding: 20px;
  border: 5px solid #222;
  border-radius: 30px;
  width: 500px;
  margin: 0 auto;
}
/* 回答はここに書いてね */
.q9__balloon::before,
.q9__balloon::after {
  content: "";
  position: absolute;
  border: 20px solid transparent;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
}

.q9__balloon::before {
  border-top-color: #222;
  bottom: -45px;
  left: 30px;
}

.q9__balloon::after {
  border-top-color: #fff;
  bottom: -38px;
  left: 30px;
}