@charset "UTF-8";

/* 回答はここに書いてね */
table {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  table-layout: fixed;
}
/* 回答はここに書いてね */
th {
  background-color: #2244aa;
  padding-top: 10px;
  color: #fff;
  font-size: 18px;
  line-height: 26px;
}

td {
  background-color: #ecf1f2;
}

tr:nth-child(even) td {
  background-color: #fff;
}

th,td {
  border: 1px solid #dedede;
  padding: 10px;
}

tr:last-child {
  border-top: 2px dashed #000;
}

