@charset "UTF-8";

/* 回答はここに書いてね */
.q3__list {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  table-layout: fixed;
}
/* 回答はここに書いてね */
.q3__list th {
  background-color: #2244aa;
  padding-top: 10px;
  color: #fff;
  font-size: 18px;
  line-height: 26px;
}

.q3__list tr:nth-child(even) {
  background-color: #ecf1f2;
}

.q3__list th, .q3__list td {
  border: 1px solid #dedede;
  padding: 10px;
}

.q3__list > tbody > tr:last-child {
  border-top: 2px dashed #000;
}
